@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h1,
h2,
h3 {
    font-family: 'Young Serif';
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

p,
li {
    font-size: 1.9rem;
    font-family: 'Outfit';
}

.width-100 {
    width: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    font-weight: bold;
}

hr {
    width: 85%;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
}

ul li {
    margin: 1rem 0;
}

ol li {
    margin: 1.4rem 0;
    text-align: justify;
}

.heading-color {
    color: hsl(332, 51%, 32%);
}

.heading-color2 {
    color: hsl(14, 45%, 36%);
}


.hero {
    height: 100vh;

}

.hero-image {
    width: 86%;
    height: 86vh;
}

.hero-image img {
    object-fit: contain;
    width: 1200px;
    height: 500px;
    border-radius: 23px;
}




.section1 {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section1-content,
.section2-content {
    width: 85%;
    height: 100%;
}

.section1-content-part1 {
    width: 100%;
    height: 50%;
}

.section1-content-part2 {
    height: 50%;
}

.section1-content-part1-part1,
.section1-content-part1-part2 {
    height: 50%;
    display: flex;
    align-items: center;
}

.section1 h1 {
    text-align: left;
}

.section1-box {
    border-radius: 10px;
    height: 100%;
}

.section1-box-heading {
    height: 25%;
    display: flex;
    align-items: center;
}

.section1-box-list {
    height: 70%;
    padding: 0 2rem;
}





.section2 {
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2-content-part1 {
    height: 30%;
    display: flex;
    align-items: center;
}

.section2-content-part2 {
    height: 70%;
    padding: 0 2rem;
}





.section3 {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3-content {
    width: 85%;
    height: 80%;
}

.section3-content-part1 {
    height: 20%;
    display: flex;
    align-items: center;
}

.section3-content-part2 {
    height: 80%;
    padding: 0 2rem;
}



.section4 {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.section4-content {
    width: 85%;
    height: 100%;
}

.section4-content-part1 {
    height: 30%;
    display: flex;
    align-items: center;
}

.section4-content-part2 {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row1 {
    height: 20%;
}

.row {
    width: 90%;
    height: 20%;
    display: flex;
}

.column {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2);
}


@media only screen and (min-width: 320px) and (max-width: 640px) {
    .hero {
        height: 60vh;
        margin-bottom: 40px;
    }

    .hero-image {
        height: 100%;
    }

    .hero-image img {
        object-fit: contain;
        height: 100%;
    }

    h1 {
        font-size: 2.4rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.7rem;
        margin-top: 40px;
    }

    .section1 {
        width: 100%;
    }

    .section2 {
        height: 70vh;
    }

    .section3 {
        height: 150vh;
    }

    .section3-content-part1 {
        height: 10%;
    }

    .section3-content-part2 {
        padding: 0;
    }

    .row1 {
        margin-bottom: 3rem;
    }
}

@media only screen and (min-width: 641px) and (max-width:1000px) {
    .hero {
        height: 60vh;
        margin-bottom: 40px;
        border-radius: 0;
        margin-top: 40px;
    }

    .hero-image {
        height: 100%;
    }

    .hero-image img {
        object-fit: contain;
        height: 100%;
    }

    h1 {
        font-size: 2.4rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.7rem;
        margin-top: 40px;
    }

    .section1 {
        width: 100%;
    }

    .section2 {
        height: 70vh;
    }

    .section3 {
        height: 100vh;
    }

    .section3-content-part1 {
        height: 10%;
    }

    .section3-content-part2 {
        padding: 0;
    }

    .row1 {
        margin-bottom: 3rem;
    }
}